// grid
$grid-gap: 32px;
$grid-gap-mobile: 16px;

// container
$max-width: 1280px;
$min-width: 280px;

// media
$big-tablet: 1320px;
$big-tablet-padding: 36px;
$tablet: 1023px;
$tablet-padding: 72px;
$mobile: 767px;
$mobile-padding: 12px;

// container width
$big-tablet-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

// colors
$color_primary: #a65cf0;
$color_primary_light: #c998fb;
$color_primary_shade: #7033ac;
$color_pink_light: #f8efff;
$color_pink_violet: #ebd1ff;
$color_secondary: #ff862f;
$color_secondary_light: #ffbd59;
$color_secondary_shade: #bb370e;
$color_red_input: #ff6972;
$color_green_input: #b8ec64;
$color_gold: #d5b986;
$color_white: #fff;
$color_grey_light: #f7f7f7;
$color_md_grey: #eaeaea;
$color_gray: #999;
$color_gray_shade: #666;
$color_black: #333;
$color_20_background: rgba(0, 0, 0, 0.2);
$color_lime_color: #daffd1;
$color_bone: #fff5d1;





